<!-- index.html -->

<!-- NES CSS integrated to be LIKE CRV -->
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/calc.js"></script>
    <style>
      html, pre, code, kbd, samp {
          font-family: "Press Start 2P";
      }
      body {
        background-color: rgb(25, 28, 25);
      }
    </style>
<!--  -->
</head>

<body>
  <span class="nes-text is-primary">Crypto investors helper.</span>
  <div class="nes-table-responsive" style="width:60%;position: fixed; left: 30;">
    <!-- <table class="nes-table is-bordered is-dark"> -->
      <table>
      <thead>
        <tr>
        <th>
            <div class="nes-container is-dark with-title">
                <p class="title">CurVal</p>
                <cur_val></cur_val>
            </div>
        </th>
        <th  style="width:40%";>
          <div class="nes-container is-dark with-title">
            <p class="title">CurVal to YSTRDAY close</p>
                <yesterday_to_today></yesterday_to_today>
          </div>
        </th>
        <th>
          <label for="success_select"><span class="nes-text is-primary">Switch coin</span></label>
          <div class="nes-select is-success">
            <form>
            <select required id="success_select">
              <option value="CRV-USD">CRV-USD</option>
              <option value="BTC-USD">BTC-USD</option>
              <option value="ETH-USD">ETH-USD</option>
            </select>
            <button type="button" onclick="myFunction()">Check it</button>
            </form>
          </div>
        </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width:40%;">
            <div class="nes-container is-dark with-title">
                <p class="title">Averages</p>
                <result_of_avg_15min></result_of_avg_15min>
                <result_of_avg_3></result_of_avg_3>
                <result_of_avg_5></result_of_avg_5>
                <result_of_avg_31></result_of_avg_31>
                <result_of_avg_180></result_of_avg_180>
            </div>
            </td>
          <td>
            <div class="nes-container is-dark with-title">
              <p class="title">RSI 14days</p>
              <rsi></rsi>
            </div>
          </td>
          <td style="color:white;">TEST1.</td>
        </tr>
        <tr>
          <td>
              <div class="nes-container is-dark with-title">
                <p class="title">Advisors</p>
                <compare_to_3></compare_to_3>
                </br></br>
                <compare_to_5></compare_to_5>
                </br></br>  
                <compare_to_31></compare_to_31>
                </br></br>  
                <compare_to_180></compare_to_180>
            </div> 
          </td>
          <td style="color:white;">For short term is better to be below average.For long above.</td>
          <td style="color:white;">TEST2.</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <div class="containerk" style="width:60%;height:5%;position: fixed; bottom: 0;">
    <p style="font-size:10;color:white;position:fixed;left:20%;"> Do what u want man. Constructed by KB 2021s.</p>
  </div>

</body>
</html>

            <!-- <progress class="nes-progress is-success" value="50" max="100"></progress> -->
