<!-- index.html -->

<!-- NES CSS integrated to be LIKE CRV -->
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
      html, body, pre, code, kbd, samp {
          font-family: "Press Start 2P";
      }
    </style>
<!--  -->

    <script>
        $.get('/avg/3',  // url
            function (data, textStatus, jqXHR) {  // success callback
                // alert('status: ' + textStatus + ', data:' + data);
                $('result_of_avg_3').append("AVG FROM 3 DAYS: " + data+"</br>");
            });
        $.get('/avg/5',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('result_of_avg_5').append("AVG FROM 5 DAYS: " + data+"</br>");
        });

        $.get('/avg_from_last_15min',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('result_of_avg_15min').append("AVG FROM 15 min: " + data+"</br>");
        });
        $.get('/compare_15min_to_3days',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('compare_to_3').append(data+"</br>");
        });
    </script>
</head>


<body>
CURVE DAO Token investors helper.

<!-- 3/5 DAYS AVG-->
<div class="nes-container is-dark with-title" style="width: 30%;">
    <p class="title">Averages</p>
    <result_of_avg_3></result_of_avg_3>
    <result_of_avg_5></result_of_avg_5>
    <result_of_avg_15min></result_of_avg_15min>
  </div>

  <div class="nes-container is-dark with-title" style="width: 30%;">
    <p class="title">Advisors</p>
    <compare_to_3></compare_to_3>
    </br></br>
    <compareto5></compareto5>
    </br></br>  
  </div>
  
  
  <!-- .nes-container {
    width: 30%;
  }
  style="width:30%;" -->
</body>
</html>