<!-- index.html -->

<!-- NES CSS integrated to be LIKE CRV -->
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
      html, body, pre, code, kbd, samp {
          font-family: "Press Start 2P";
      }
    </style>
<!--  -->

    <script>
        $.get('/avg/3',  // url
            function (data, textStatus, jqXHR) {  // success callback
                // alert('status: ' + textStatus + ', data:' + data);
                $('result_of_avg_3').append("3 DAYS: " + data + "</br>");
            });
        $.get('/avg/5',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('result_of_avg_5').append("5 DAYS: " + data + "</br>");
        });
        $.get('/avg/31',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('result_of_avg_31').append("31 DAYS: " + data + "</br>");
        });
        $.get('/avg/180',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('result_of_avg_180').append("180 DAYS: " + data + "</br>");
        });

        $.get('/avg_from_last_15min',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('result_of_avg_15min').append("15 min: " + data + "</br>");
        });
        $.get('/compare_15min_to_days/3',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('compare_to_3').append(data);
        });
        $.get('/compare_15min_to_days/5',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('compare_to_5').append(data);
        });
        $.get('/compare_15min_to_days/31',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('compare_to_31').append(data);
        });
        $.get('/compare_15min_to_days/180',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('compare_to_180').append(data);
        });
        $.get('/get_current_value',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('cur_val').append(data);
        });
        $.get('/yesterday_to_today',  // url
        function (data, textStatus, jqXHR) {  // success callback
            // alert('status: ' + textStatus + ', data:' + data);
            $('yesterday_to_today').append(data);
        });
    </script>
</head>


<body>
CURVE DAO Token investors helper.

  <div class="nes-table-responsive" style="width:60%;">
    <!-- <table class="nes-table is-bordered is-dark"> -->
      <table>
      <thead>
        <tr>
        <th>
            <div class="nes-container is-dark with-title">
                <p class="title">CurVal</p>
                <cur_val></cur_val>
            </div>
        </th>
        <th  style="width:40%";>
          <div class="nes-container is-dark with-title">
            <p class="title">CurVal to YSTRDAY close</p>
                <yesterday_to_today></yesterday_to_today>
          </div>
        </th>
        <th>
          
        </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width:40%;">
            <div class="nes-container is-dark with-title">
                <p class="title">Averages</p>
                <result_of_avg_15min></result_of_avg_15min>
                <result_of_avg_3></result_of_avg_3>
                <result_of_avg_5></result_of_avg_5>
                <result_of_avg_31></result_of_avg_31>
                <result_of_avg_180></result_of_avg_180>
            </div>
            </td>
          <td>Lorem ipsum</td>
          <td></td>
        </tr>
        <tr>
          <td>
              <div class="nes-container is-dark with-title">
                <p class="title">Advisors</p>
                <compare_to_3></compare_to_3>
                </br></br>
                <compare_to_5></compare_to_5>
                </br></br>  
                <compare_to_31></compare_to_31>
                </br></br>  
                <compare_to_180></compare_to_180>
            </div> 
          </td>
          <td>For short term is better to be below average.For long above.</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <!-- .nes-container {
    width: 30%;
  }
  style="width:30%;" -->
</body>
</html>